body {
    background-color: rgb(233, 103, 103);
    font-size: large;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(218, 7, 42);
}
h1 {
    color:blueviolet
}